<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/submit">
      <h1>Enter Your Message Here</h1>
      Name:<input type="text" name="senderName" /><br />
      Message:<input type="text" name="msg" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
